<h2>Wine Name: <%= @user_wine.wine.name %></h2>
<p>
	Year: <%= @user_wine.wine.year %> <br>
	Added: <%= pluralize(@wines_added, 'Bottle') %> <br> 
	Drank: <%= pluralize(@wines_drank, 'Bottle') %> <br>
	<strong>Available In Your Cellar: <%= pluralize(@in_stock, 'Bottle') %></strong>
	
</p>


<h3>Wine Log</h3>

<%= link_to 'Add Activity', new_user_wine_user_wine_log_path(@user_wine) %> <br />
<%= link_to 'Return to Wine List', wines_path %>

<ol>
	<% @user_wine.user_wine_logs.each do |uw| %>
		<li>
		Updated At: <%= time_ago_in_words(uw.updated_at) %> ago. <br />
		Action: <%= uw.action %> <br />
		Date of Action: <%= uw.action_date_at %> <br />
		Quantity: <%= uw.increment_quantity %> <br />
		Note: <%= uw.note %> <br />
		<%= link_to 'Edit Activity', edit_user_wine_log_path(uw) %>
		</li>
	<% end %>
</ol>
