
<h2>User Wine ID: <%= @user_wine.id %></h2>
<h2>Wine Name: <%= @wine.name %></h2>
<h2>Year: <%= @wine.year %></h2>
<h2>User Email: <%= @user.email %></h2>
<h2>Quantity: <%= @user_wine.quantity %> <%= link_to 'Edit', edit_user_wine_path(@user_wine) %></h2>