<h1>WineApp 2.0 Home Page</h1>

<% unless signed_in? %>
	<h3>Logged out</h3>

<% else %>	
	<h3>My Wines</h3>
	<% if current_user.wines.any?%>
		<table cellpadding="5" cellspacing="0">
			<tr>
				<td><strong>User Wine id</strong></td>
				<td><strong>Wine Name</strong></td>
				<td><strong>Wine ID</strong></td>
				<td><strong>Varietal</strong></td>
				<td><strong>Quantity</strong></td>
				<td><strong>Rating</strong></td>
			</tr>
			<% current_user.user_wines.each do |uw| %>
				<tr>
					<td><%= uw.id%></td>
					<td><%= uw.wine.name %></td>
					<td><%= uw.wine_id %></td>
					<td><%= link_to 'Details', user_wine_path(uw) %></td>
					<td><%= number_with_delimiter(uw.quantity) %></td>
					<td></td>
				</tr>
			<% end %>
		</table>
		<%= link_to "Add More Wines", wines_path %>
	<% else %>	
		<h5>No Wines Yet</h5>
		<%= link_to "Add Wines", wines_path %>
	<% end %>
<% end %>