<h1>Wine List</h1>


<%= link_to "Add New Wine", new_wine_path %>
<ul>
	<% @wines.each do |wine| %>
		<li>
			<%= link_to "View wine #{wine.id}", wine_path(wine) %> |  Name: <%= wine.name %> | Vintage: <%= wine.year %>
			<% if signed_in? %>	
				<% if current_user.wines.find_by_id(wine)%>
					- Already Own
				<% else %>
					Don't Own - 
					<%= form_for(current_user.user_wines.build(wine_id: wine.id)) do |f| %>
						<%= f.hidden_field :wine_id %>
						<%= f.submit "Add to Cellar" %>
					<% end %>		
				<% end %>
			<% end %>
		</li>
	<% end %>
</ul>
