<!DOCTYPE html>
<html>
<head>
  <title>Wine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="fixed-top">
			<%= link_to 'Home', root_path %> | 
			<%= link_to 'All Wines', wines_path %> |
			<%= link_to 'Community', static_community_path  %>
			<div id="user"><%= render 'layouts/top-nav' %></div>
		</div>
		<%= render 'layouts/alerts' %>
		<%= yield %>
		<footer>
			<% if Rails.env.development? %>
				<%= debug(params) %>
				<% if signed_in? %>
					current_user: <%= current_user.email %>
				<% end %>		
			<% end %>
		</footer>
	</div>
</body>
</html>
