<!DOCTYPE html>
<html>
<head>
  <title>Wine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="fixed-top">
			<%= link_to 'Home', root_path %> | 
			<%= link_to 'Wines', wines_path %>
			<div id="user"><%= render 'layouts/top-nav' %></div>
		</div>
		<%= render 'layouts/alerts' %>
		<%= yield %>
		<% if Rails.env.development? %>
			<%= debug(params) %>
			<% if signed_in? %>
				current_user: <%= current_user.email %>
			<% end %>		
		<% end %>
	</div>
</body>
</html>
